body {
  box-sizing: border-box;
  font-family: 'Verdana', 'Geneva', sans-serif;
  color: #335F98;
  font-size: 24px;
}

main,
header,
section,
footer {
  margin: 0;
  padding: 0 1.5rem;
  border: 1px solid #335F98;
}

main {}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .logo {
  visibility: hidden;
  width: 220px;
}

/*navigation bar*/
#menu-mobile,
.header .menu {
  display: none;
}

#menu-mobile ul {
  list-style-type: none;
}

#menu-mobile ul li a {
  text-decoration: none;
  font-size: 20px;
  color: #335F98
}

#menu-mobile ul li a:visited {
  color: #335F98
}

.linea {
  margin-top: 10px;
  width: 50px;
  height: 3px;
  border-radius: 10px;
  background: #335F98;
}

/*landing page*/
#landing {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#landing aside {
  text-align: center;
  margin: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.texto-inicio {
  width: 80%;
  font-size: 24px;
}

.resaltar {
  color: #3EA934;
  font-weight: bold;
}

.foto-portada {
  object-fit: contain;
  max-width: 100%;

}

#servicios {
  display: flex;
  flex-wrap: wrap;
}

#servicios>div {
  display: flex;
  width: 100%;
  flex: 0 50%;
  margin: 20px 0;
  align-items: center;
}

#servicios>div:last-child {
  flex: 0 100%;
  justify-content: center;
}

.rombo {
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#rombo-1,
#rombo-2,
#rombo-3,
#rombo-4,
#rombo-5 {
  margin-right: 20px;  
}

#rombo-1 {
  background: #335F98;
}

#rombo-2 {
  background: #3EA934;
}

#rombo-3 {
  background: #D92F38;
}

#rombo-4 {
  background: #05939D;
}

#rombo-5 {
  background: #F59004;
}

#centro img {
  max-width: 90%;
  object-fit: contain;
}

#team {}

#contacto {}

.footer {}
