body {
  box-sizing: border-box;
  font-family: 'Verdana', 'Geneva', sans-serif;
}

main,
header,
section,
footer {
  margin: 0;
  padding: 20px;
  border: 1px solid #000000;
  color: #335F98;
}

main {
}

.header {
}

#landing {
}

#servicios {
}

#centro {
}

#team {
}

#contacto {
}

.footer {
}